<section class="orders-show">

  <div class="thank-you bg-success">
  <h1>Thank you for your order!</h1>
  </div>

  <header class="page-header">
    <div>
      <h2>Order #<%= @order.id %></h2>
      <h2><%= @order.email %></h2>
    </div>
    <h2>Total: <%= humanized_money_with_symbol (@order.total_cents / 100.0) %></h2>
  </header>

  <div id="purchased-item">
    <% @order.line_items.each do |item| %>
      <div class="item-history">
        <img src="<%= item.product.image %>">
        <div class="item-info">
          <h3><%= item.product.name %></h3>
          <p><%= item.product.description %></p>
          <h4>Quantity: <%= item.quantity %></h4>
          <h3><%= humanized_money_with_symbol item.total_price %></h3>
        </div>
      </div>
    <% end %>
  </div>





  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
